include LICENSE
include README.md

recursive-include fit_line/src *
recursive-include mrs_det_plot/src *
recursive-include mrs_spec_chan/src *
recursive-include mrs_chan/src *
recursive-include all_tools/src *

include mrs_spec_chan/src/templates/ *txt

global-exclude *.pyc
