include LICENSE
include README.md

recursive-include astrotools/fit_line/src *
recursive-include astrotools/mrs_chan/src *
recursive-include astrotools/mrs_spec_chan/src *
recursive-include astrotools/mrs_det_plot/src *
recursive-include astrotools/all_tools/src *


include mrs_spec_chan/src/templates/ *txt

global-exclude *.pyc
